.center{
    text-align: center;
}

.link{
    text-decoration: none;
    text-decoration:solid;
    color: #000000;
}

.card{
    display: flex;
}

.card-content{
    text-align: center;
    border: solid 2px black;
    border-radius: 5%;
    overflow: hidden;
}
.card-text{
    color: #000000;
    text-decoration: none;
}

.card-image{
    border-bottom: solid 2px black;
}